@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --color-light-50: #dce1de;

    --color-dark-50: #797984;
    --color-dark-100: #1e201f;
    --color-dark-900: #000;

    --color-green-50: #9cc5a1;
    --color-green-100: #49a078;
    --color-green-200: #216869;

    --color-gradient: linear-gradient(90deg, var(--color-green-200), var(--color-green-100),
            var(--color-green-50));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

#register_form {
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    width: 680px;
    max-width: 100%;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
    animation: dark-to-light 0.1s ease-in-out;
}

#header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_box h1 {
    font-size: 40px;
    position: relative;
}

#header_box h1::before {
    position: absolute;
    content: '';
    width: 27%;
    background-color: var(--color-green-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

#mode_moon {
    cursor: pointer;
    font-size: 20px;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#simple_inputs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 250px));
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 20px;
}

.input_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input_field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-green-50);
}

.input_field i {
    font-size: 15px;
    color: var(--color-dark-900);
}

.input_field input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    padding: 0px 5px;
}

.input_field input:focus {
    outline: none;
}

#gender_box {
    gap: 3px;
}

#input_field_gender {
    display: flex;
    justify-content: space-between;
}

#register_button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

#register_button:hover {
    transform: scale(1.05);
}

#login {
    margin: 5px;
    text-align: center;
}

#login a {
    text-decoration: none;
    color: var(--color-light-50);
}

#login a:hover {
    color: var(--color-dark-50);
}

.dark#register_form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.1s ease-in-out;
}

.dark#register_form .input_field input,
.dark#register_form .input_field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }

    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }

    100% {
        background-color: var(--color-dark-100);
    }
}


@media screen and (max-width: 560px) {
    #container {
        height: 100%;
    }

    #simple_inputs {
        grid-template-columns: 1fr;
    }

    #input_field_gender {
        flex-direction: column;
        gap: 6px;
    }
}

@media screen and (max-width: 340px) {
    #header_box {
        flex-direction: column;
        gap: 12px;
    }
}